
.main-slider-wrapper {
 // height: 71vh !important;
}
.height-50 {
  height: 50vh ;
}
.bg-opacity-1 {
  background-color: rgba(0, 0, 0, 0.1);
}
.form-control {
  border-radius: 0;
  border-color: theme-color("color-3");
}